---
project: Silicon Linux
---

<HTML>
  <HEAD>
    {% include heading.html %}
    <TITLE>About Silicon Linux</TITLE>
  </HEAD>
<BODY>
  {% include navigator.html %}
<h1>About Us</h1>
<p><b>Twitter: <a href="https://twitter.com/silicon_linux">silicon_linux</a></b></p>
<p><b>Github: <a href="https://github.com/silicon-linux">Silicon Linux</a></b><p>
<p><b>Discord: <a href="https://discord.gg/QbuuAF5"><img src="https://img.shields.io/discord/502598767510290432.svg?colorB=7289DA&label=discord" alt="Discord Badge"></a></b></p>
<h1>Contact Us</h1>
<p>Any problems: <b><a href="mailto:support@silicon-linux.net">support@silicon-linux.net</b></p>
<h1>Information about our team</h1>
<p>We currently have 9 people on our team.</p>
<p>This project started on October 18th 2018</p>

  {% include footer.html %}
</BODY>
</HTML>
