---
project: Silicon Linux
---

<html>
<HEAD>
    {% include heading.html %}
  <TITLE>Silicon Linux Support</TITLE>
</HEAD>
<BODY>
  {% include navigator.html %}
    <h1 class="subtitle">Silicon Linux Support</h1>
    <p>
      <iframe class="iframe" src="https://titanembeds.com/embed/502598767510290432?css=discord&defaultchannel=502881083684028426&username=Website%20User" height="520" width="300" frameborder="5" align="right"></iframe>
      <h1>Frequently Asked Questions:</h1>
      <h2 class="Question">Q: What is Silicon Linux?</h2>
      <h2 class="answer">A: It's a linux distro by Alee14.</h2>
    </p>
  {% include footer.html %}
</BODY>
</html>
