<link href="/style.css" type="text/css" rel="stylesheet">
<script src="/jquery-3.3.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="apple-touch-icon" sizes="192x192" href="/apple-icon.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-150x150.png">
<meta name="theme-color" content="#ffffff">
